body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f3f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.homePage {
  display: flex;
  justify-content: space-between;
  background: #f1f3f5;
}
.side1 {
  display: flex;
  flex-direction: column;
  gap: 130px;
  padding: 30px 10px 10px 37px;
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 29px;
  font-weight: 700;
}
nav {
  display: flex;
  gap: 36px;
}
a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: black;
}
.side2 img {
  height: 821px;
  width: 885px;
}
.bodySide1-Title {
  font-size: 58px;
  font-weight: 600;
  line-height: 62px;
}
.bodySide1-SubTitle {
  margin-top: 31px;
  font-size: 15px;
  text-align: justify;
}
.bodyButton {
  background: #464644;
  border: none;
  color: white;
  padding: 15px 30px 15px 30px;
  margin-top: 13px;
  border-radius: 4px;
  font-size: 16px;
} 
/* PRODUCT */
.product {
  display: flex;
  justify-content: space-between;
  height: 825px;
}
.productImage {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
img.productImage {
  width: 372px;
}
.productDetails {
  background: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 60px;
  justify-content: center;
}
.productName {
  font-size: 41px;
  font-weight: 600;
}
.productDescription {
  margin-top: 35px;
  font-size: 16px;
  text-align: justify;
}
.productPrice {
  margin-top: 32px;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 11px;
}

/* PRODUCTLIST */
.productList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 50px 10px 50px;
  gap: 33px;
}
.item {
  background: white;
  display: flex;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 270px;
  gap: 25px;
}
.item:hover {
  cursor: pointer;
  background: rgb(235, 235, 235);
  opacity: 1;
  transform: translateY(0px) scale(1.05) translateZ(0px);
} 
.ItemCategory {
  font-size: 15px;
}
img.itemImage {
  width: 186px;
  height: 233px;
}
.itemDescription {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.itemTitle {
  font-size: 17px;
  font-weight: 700;
}
.itemPrice {
  font-size: 16px;
}
.productButtons {
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
}
.productButton {
  background: #464644;
  border: none;
  color: white;
  padding: 15px 30px 15px 30px;
  border-radius: 4px;
  font-size: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
.productQuantity {
  background: #464644;
  background: #464644;
  border-radius: 4px;
  width: -moz-fit-content;
  padding: 11px;
  display: flex;
  align-items: center;
  height: 27px;
  color: white;
  font-weight: 600;
}
.productQuantityButton {
  background: none;
  border: none;
  color: white;
  font-size: 27px;
  font-weight: 600;
}

/* CART */
.cart {
  display: flex;
  flex-direction: row;
  padding: 50px;
  gap: 40px;
}
.cartSide1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  gap: 30px;
}
.cartTitle {
  font-size: 30px;
  font-weight: 600;
}
.cartItems {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cartItem {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
}
img.cartItemImage {
  width: 244px;
  height: 272px;
}
.cartItemDetails {
  display: flex;
  justify-content: space-between;
}
.cartItemName {
  font-size: 14px;
  font-weight: 500;
}
.cartItemQty {
  font-size: 15px;
  font-weight: 500;
}
.cartSide2 {
  background: white;
  width: 40%;
  border-radius: 10px;
  padding: 50px;
}
.receiptTitle {
  font-size: 26px;
  font-weight: 600;
}
.receiptItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.receiptItem {
  background: #efefef;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
}
.receiptItemName {
  font-size: 18px;
  font-weight: 500;
}
.total {
  font-size: 24px;
  font-weight: 600;
  margin-top: 23px;
}
button.placeOrderButton {
  background: #464644;
  border: none;
  color: white;
  padding: 15px 30px 15px 30px;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 11px;
  width: 100%;
}